* {
    background-color: #333;
}
.box {
    background: orange;
    color: white;
    width: 50%;
    height: 50px;
    padding: 50px;
    border-radius: 8px;
    margin: 20px;
}
.box2 {
    background: red;
    color: white;
    width: 100%;
    height: 50px;
    padding: 20px, 5px;
}
.box3 {
    background: violet;
    color: white;
    width: 50%;
    height: 50px;
    margin: 50px;
}
