.header {
    height: 100px;
    border-bottom: 2px solid #95e0ff;
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-list img {
    height: 50px;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
    border-radius: 2px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;
    font-width: 300;
    
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}


.header__navbar-item--strong {
    font-width: 600;
}

.header__navbar-item--separate:after {
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #eaeaff;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}





body .dark {
    background-color: #ccc;
}

.container .date-time {
    display: flex-block;
    
    text-align: center;
}